{% extends "/admin/layoutAdmin.twig" %}

{% block content %}
    
    <div class="login">
	<h1>Connexion Administrateur</h1>
    {% if error %}
        <div style="color: red; font-weight: bold; text-align: center;" class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="/loginadmin" method="post">
    	<input type="text" name="login" placeholder="Nom d'utilisateur" required="required" />
        <input type="password" name="password" placeholder="Mot de passe" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>
    </form>
</div>

    
{% endblock %}