{% extends "/admin/layoutAdmin.twig" %}

{% block content %}
    <div class="log-choice">
        <h1>Vous êtes ?</h1>
        <div class="log-options">
            <div class="admin-log">
                <a class="btn btn-primary btn-block btn-large" href="/loginadmin">Administrateur</a>
            </div>
            <div class="editeur-log">
                <a class="btn btn-primary btn-block btn-large" href="/loginediteur">Editeur</a>
            </div>
        </div>
    </div>
{% endblock %}